<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Ninja</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Fruit Nutritional Value Finder 🍎🍌</h1>
    <a>You can search nutritional values for a fruit or compare two different fruits</a>
    <form id="fruit-form">
        <label for="fruit">Look for a fruit:</label>
        <input type="text" id="fruit" name="fruit" required>
        <button type="submit">Submit</button>
    </form>

    <div id="result"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
