<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Ninja</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Fruit Nutritional Value Finder 🍎🍌</h1>
    <a>You can search nutritional values for a fruit or compare two different fruits</a>

    <!-- Fruit Form -->
    <form id="fruit-form">
        <div class="fruit-group">
            <label for="fruit1">Fruit 1:</label>
            <input type="text" id="fruit1" name="fruit1" required>
            <button type="button" id="add-fruit-btn">+</button>
        </div>
        <div class="fruit-group" id="fruit2-group" style="display: none;">
            <label for="fruit2">Fruit 2:</label>
            <input type="text" id="fruit2" name="fruit2">
            <button type="button" id="remove-fruit-btn">-</button>
        </div>
        <button type="submit">Submit</button>
    </form>

    <!-- Result Display -->
    <div id="result"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
